<div class="container container-fluid pt-3">
  <app-detail-modal></app-detail-modal>
  <app-add-modal></app-add-modal>
  <div class="text-end">
    <button
      class="btn btn-outline-primary"
      #popupbtn
      id="popupbtn"
      (click)="open()"
    >
      Add Queue
    </button>
  </div>

  <hr />

  <table class="table table-responsive table-strip text-center">
    <thead>
      <tr>
        <th>Genre</th>
        <th>Current</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataList">
        <td>{{ item.Type }}</td>
        <td>{{ item.Code }}</td>
        <td>{{ getTimeString(item.Date) }}</td>
        <td>
          <button
            class="btn btn-outline-success bi bi-clipboard-check me-3"
            (click)="showData(item.Code)"
          ></button>
          <button
            class="btn btn-outline-danger bi bi-x"
            (click)="deQueue(item.Code)"
          ></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
