<ng-template #detail let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="add-modal">{{ tempData.Code }}</h4>
    <button
      type="button"
      #closeBtn
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body text-center">
    <img
      src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{
        tempData.Code
      }}"
      class="mb-3"
    />
    <p class="mb-3" *ngIf="tempData.Name">
      <strong>Name: </strong> {{ tempData.Name }}
    </p>
    <p class="mb-3" *ngIf="tempData.Tel">
      <strong>Tel:</strong> {{ tempData.Tel }}
    </p>
    <p class="mb-3">
      <strong>Date: </strong>{{ getDateTime(tempData.Date).date }}
      <strong> Time: </strong>{{ getDateTime(tempData.Date).time }}
    </p>
  </div>
</ng-template>
<!-- <style>
  .container {
    white-space: inherit;
    overflow-wrap: break-word;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
  }
  .btn-action {
    outline: none !important;
    color: #00833f;
  }
</style>
<ng-template #detail let-modal>
  <div class="modal-body text-center container">
    <h4 ngbAutofocus>Header</h4>
    <p>
      Leasdaldmaslcalwadmaslcmlaswdascsacascasdfasdfasfaefnaeklfaekfnaekfnkaeknfaasasdasdfasdfasefefasdad
    </p>

    <button class="btn btn-action me-3">Action</button>
    <button class="btn btn-success">Action</button>
  </div>
</ng-template> -->
