<ng-template #detail let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="add-modal">{{ tempData.Code }}</h4>
    <button
      type="button"
      #closeBtn
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body text-center">
    <img
      src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{
        tempData.Code
      }}"
      class="mb-3"
    />
    <p class="mb-3" *ngIf="tempData.Name">
      <strong>Name: </strong> {{ tempData.Name }}
    </p>
    <p class="mb-3" *ngIf="tempData.Tel">
      <strong>Tel:</strong> {{ tempData.Tel }}
    </p>
    <p class="mb-3">
      <strong>Date: </strong>{{ getDateTime(tempData.Date).date }}
      <strong> Time: </strong>{{ getDateTime(tempData.Date).time }}
    </p>
  </div>
</ng-template>
