<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="add-modal">Add New Queue</h4>
    <button
      type="button"
      #closeBtn
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <table class="mx-auto">
        <tbody class="">
          <tr>
            <td colspan="2">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="name">Name</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  aria-label="name"
                  aria-describedby="name"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="name">Telephone</span>
                </div>
                <input
                  type="tel"
                  class="form-control"
                  aria-label="tel"
                  aria-describedby="tel"
                  name="tel"
                />
              </div>
            </td>
          </tr>
          <tr class="text-center">
            <td>
              <button
                class="btn btn-outline-success btn-input"
                (click)="save('A')"
              >
                1 person
              </button>
            </td>
            <td>
              <button
                class="btn btn-outline-success btn-input"
                (click)="save('B')"
              >
                2 people
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button
                class="btn btn-outline-success btn-input"
                (click)="save('C')"
              >
                3-4 people
              </button>
            </td>
            <td>
              <button
                class="btn btn-outline-success btn-input"
                (click)="save('D')"
              >
                5-6 people
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <!-- <div class="modal-footer">
    <button
      style="display: none"
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div> -->
</ng-template>
